[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Mutlu Akgun
	email = 78053007+MutluRenegado@users.noreply.github.com
